@media only screen and (min-width: 320px) and (max-width: 480px) {
    body{
        background-color: white;
        background-image: none !important;
      
    }
    #bgMobile{       
            width: 492px;
            height: 731px;
            left: -40px;
            top: 69px; 
            position: absolute;
            z-index: -1;
     
    }
    .menu{ 
        display: none !important;
    }

    #logo1{
        display: none;
    }
    
    #cita{
        display: none !important; 
      }
    
    
    #logo3{
        width: 100px;
        height: auto;
    }
    
    .burger > a > img{
        width: 32px; 
        height: 32px; 
    
        
    }

    #intro{
        display: flex !important;
    }

    #secondColumn{
        display: block !important;
    }


    #textoinit{
        width: 100%; 
        height: 400px; 
        justify-content: center; 
        align-items: center; 
        display: inline-flex"
    }

    #socialButton{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 200px !important;
        height: 100px !important;
        margin: 0px !important;
    
    }
        #i_image{
            display: block;
            width: 60px; 
            height: 60px; 
            margin: 0 auto;
            
        }
  }